* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-flow: column wrap;
  max-width: max-content;
  padding: 2em;
  margin: auto;
}
main > div {
  background-color: lightseagreen;
  padding: 20px;
}
#whereThingsStart {
  display: inline-flex;
  margin: 5px;
}

main > select {
  width: 700px;
}

#whereThingsHappens {
  margin: 1em 0 1em 0;
}
#whereThingsHappens > button,
#output {
  padding: 5px;
}
#whereThingsHappens > button {
  background-color: #f5f5f5;
}
#output {
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid gray;
  width: max-content;
  height: max-content;
}
